*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(242, 185, 16);
    padding: 45px 60px 40px 50px;
   


}

#floatingInput{
    display: flexbox;
    justify-content: center;
    height: 200px;
    width: 100px;
 }

